{% extends "base.html" %}

{% block title %}Search YouTube{% endblock %}

{% block section %}

   <main role="main">
  <section class="jumbotron text-center">
    <div class="container">
        <img src="{{ url_for('static', filename='youtube.jpg') }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
      <p class="lead text-muted">Get the top nine results on YouTube for your query!</p>
      <form method="POST">
      <div class="input-group mb-3">
        <input type="text" name="query" class="form-control">
      </div>
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">YouTube Search</button>
      </p>
      </form>
	  {% block content %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for msg in messages%}
					<p class="lead text-muted">{{msg}}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	  {% endblock %}
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{ video.thumbnail }}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="card-body">
              <p class="card-text">{{ video.title }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" href="{{ video.url }}" class="btn btn-sm btn-outline-secondary">View</a>
                </div>
                <div class="btn-group">
                    <p>
                      <form method="POST">
                        <button type="submit" name="download" value="{{ video.url}}" class="btn btn-sm btn-outline-secondary" onclick="$('#loading').show();">Download</button>
                        <input type="hidden" name="thumbnail" value="{{ video.thumbnail }}"/>
                      </form>
                    </p>
                </div>
                <small class="text-muted">{{ video.duration }} mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}
