{% extends "base.html" %}

{% block title %}Result Page{% endblock %}

{% block section %}
    <main role="main">
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages%}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

  <section class="jumbotron text-center">
    <div class="container">
      <h2 class="jumbotron-heading">The video has been downloaded successfully</h2>
      <form method="POST">
          <p>
              <button type="submit" name="results" value="search" class="btn btn-success my-2">View Results</button>
          </p>
      </form>
    </div>
	<div class="container">
	  <h2 class="jumbotron-heading">OR</h2>
      <form method="POST">
        <div class="input-group mb-3">
            <input type = "email" name = "email" placeholder="Enter Your e-mail to get notified after results are processed" value = "{{email if email}}" class="form-control"/>
		</div>
		<p>
			<button type="submit" name="submit" value="search" class="btn btn-primary my-2">Submit Email</button>
		</p>
      </form>
    </div>

  </section>

</main>
{% endblock %}
